@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafb;
}

.leaflet-container {
  width: 100%;
  height: 250px;
  z-index: 10;
}

@media (min-width: 640px) {
  .leaflet-container {
    width: 100%;
    height: 400px;
    z-index: 10;
  }
}

.Layout > main {
  min-height: calc(100vh - 160px);
}
